<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/H-ui.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/H-ui.admin.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/font/font-awesome.min.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/lyz.calendar.css"/>
<style>
	#dateCalendar{
		top:465px;
		left:144px;
	}
	#txtEndDateCalendar{
		top:511px;
		left:144px;
	}
</style>
<title>添加用户</title>
</head>
<body>
 <nav class="Hui-breadcrumb"><i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span>用户管理 <span class="c-gray en">&gt;</span> 信息添加 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a></nav>
<div class="pd-20">
  <div class="Huiform">
    <form action="{:U('Admin/Project/add')}" method="post" id="forms">
      <table class="table table-bg">
        <tbody>
		   	<tr>
				<th width="100" class="text-r"><span class="c-red">*</span> 产品名称：</th>
				<td>
					<input type="text" style="width:200px" class="input-text" value="" placeholder="" name="product_name">
					<span id="notice"></span>
				</td>
			</tr>
			<tr>
				<th width="100" class="text-r"><span class="c-red">*</span> 产品类型：</th>
				<td>
					<input type="text" style="width:200px" class="input-text" value="" placeholder="" name="share_type">
					<span id="notice"></span>
				</td>
			</tr>
			<tr>
				<th width="100" class="text-r"><span class="c-red">*</span> 产品风险等级：</th>
				<td>
					<input type="text" style="width:200px" class="input-text" value="" placeholder="" name="product_risklv">
					<span id="notice"></span>
				</td>
			</tr>
			<tr>
				<th width="100" class="text-r"><span class="c-red">*</span> 总认缴额：</th>
				<td>
					<input type="text" style="width:200px" class="input-text" value="" placeholder="" name="product_scale">
					<span id="notice"></span>
				</td>
			</tr>
			<tr>
				<th width="100" class="text-r"><span class="c-red">*</span> 存续期：</th>
				<td>
					<input type="text" style="width:200px" class="input-text" value="" placeholder="" name="investment_term">
					<span id="notice"></span>
				</td>
			</tr>
			<tr>
				<th width="100" class="text-r"><span class="c-red">*</span> 募集期：</th>
				<td>
					<input type="text" style="width:200px" class="input-text" value="" placeholder="" name="collect_date">
					<span id="notice"></span>
				</td>
			</tr>
			<tr>
				<th width="100" class="text-r"><span class="c-red">*</span> 产品认购费：</th>
				<td>
					<input type="text" style="width:200px" class="input-text" value="" placeholder="" name="product_subscribe">
					<span id="notice"></span>
				</td>
			</tr>
			<tr>
				<th width="100" class="text-r"><span class="c-red">*</span> 年化收益率：</th>
				<td>
					<input type="text" style="width:200px" class="input-text" value="" placeholder="" name="return_rate">
					<span id="notice"></span>
				</td>
			</tr>
			<tr>
				<th width="100" class="text-r"><span class="c-red">*</span> 成立日期：</th>
				<td>
					<input id="date" class="input-text" name="announcement_date" />
					<span id="notice"></span>
				</td>
			</tr>
			<tr>
				<th width="100" class="text-r"><span class="c-red">*</span> 发行日期：</th>
				<td>
  					<input id="txtEndDate" class="input-text" name="product_publish" />
					<span id="notice"></span>
				</td>
			</tr>
			<tr>
				<th width="100" class="text-r"><span class="c-red">*</span> 状态：</th>
				<td>
					<input type="text" style="width:200px" class="input-text" value="" placeholder="" name="product_state">
					<span id="notice"></span>
				</td>
			</tr>
			<tr>
				<th width="100" class="text-r"><span class="c-red">*</span> 募集人数：</th>
				<td>
					<input type="text" style="width:200px" class="input-text" value="" placeholder="" name="product_population">
					<span id="notice"></span>
				</td>
			</tr>
			<tr>
				<th></th>
				<td><button class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 添加</button></td>
			</tr>

        </tbody>
      </table>
    </form>
  </div>
</div>

<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/Validform_v5.3.2_min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/lyz.calendar.min.js"></script>
<script>
    $(function () {
    	$("#date").calendar();
        $("#txtEndDate").calendar();
    });
</script>
</body>
</html>