<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/H-ui.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/H-ui.admin.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/font/font-awesome.min.css"/>

<title>密码修改</title>
</head>
<body>
<div class="pd-20">
  <form class="Huiform" action="{:U('Admin/User/upd')}" method="post">
    <input type="hidden" name="id" value="{$info['id']}">
    <table class="table">
      <tbody>
        <tr>
          <th width="100" class="text-r"><span class="c-red">*</span>新密码：</th>
          <td><input type="password" style="width:200px" class="input-text" value="" id="teacher-new-password" name="password"></td>
        </tr>
        <tr>
          <th class="text-r"><span class="c-red">*</span> 确认密码：</th>
          <td><input type="password" style="width:200px" class="input-text" value="" id="teacher-new-password2" name="newrepassword"></td>
        </tr>
        <tr>
          <th></th>
          <td><button class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 修改</button></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/Validform_v5.3.2_min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/layer/layer.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/H-ui.admin.js"></script>

<script type="text/javascript">
    //检验两次密码输入是否一致
    var p=false;
    var rp=false;
    $('input[name=newrepassword]').blur(function(){
        var rp=$(this).val();
        var p=$('input[name=password]').val();

        //判断是否一致
        if(rp != p){
            rp=false;
            $(this).css('border','solid 3px red');
        }else{
            rp=true;
            $(this).css('border','solid 3px green');
        }
    })
</script>
</body>
</html>

