<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/H-ui.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/css/H-ui.admin.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/font/font-awesome.min.css"/>

<style type="text/css">
</style>
<title>理财师管理</title>
</head>
<body>

<nav class="Hui-breadcrumb"><i class="icon-home"></i>  理财师管理 <span class="c-gray en">&gt;</span>  <span class="c-gray en">&gt;</span> 理财师列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" id="ref" title="刷新" ><i class="icon-refresh"></i></a></nav>
<div class="pd-20">
  <div class="text-c">
  <form class="Huiform" action="{:U('Admin/Planner/index')}" method="get">
  <select class="input-small" id="DropDownTimezone" name="n">
          <option value="10" <eq name="n" value="10"> selected = "selected"</eq>>10</option>
          <option value="20" <eq name="n" value="20"> selected = "selected"</eq>>20</option>
          <option value="30" <eq name="n" value="30"> selected = "selected"</eq>>30</option>
          <option value="40" <eq name="n" value="40"> selected = "selected"</eq>>40</option>
          <option value="50" <eq name="n" value="50"> selected = "selected"</eq>>50</option>
          <option value="100" <eq name="n" value="100"> selected = "selected"</eq>>100</option>
    </select>条
  
    <!-- <input type="text" name="k" id="" value="{$k}" placeholder=" " style="width:250px" class="input-text"> --><button name="" id="" class="btn btn-success" type="submit"><i class="icon-search"></i>搜索</button>
  </div>
  </form>
  <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a> </a><a class="" href="javascript:;"<i class=""></i></a></span></a>
   <span class="r">共有数据:<strong>{$count}</strong> 条</span> </div>
   
  <table class="table table-border table-bordered table-bg table-hover table-sort">
    <thead>
      <tr class="text-c">
        <th width="80">头像</th>
        <th width="50">姓名</th>
        <th width="80">电话</th>
        <th width="80">所属公司</th>
        <th width="100">业务口号</th>
        <th width="200">自我介绍</th>
        <th width="30">排序</th>
        <th width="30">是否显示</th>
        <th width="80">操作</th>
      </tr>
    </thead>
    <tbody>
      <volist name="info" id="vo">
      <tr class="text-c">
        <td><img src="__PUBLIC__/{$vo['image']}"></td>
        <td>{$vo.name}</td>
        <td>{$vo['tel']}</td>
        <td>{$vo.company}</td>
        <td>{$vo.slogan}</td>
        <td>{$vo.resume}</td>
        <td><input name="{$vo.id}" value="{$vo.order_id}" style="width:30px;text-align:center"></td>
        <td>{$vo['is_show']==1?'显示':'不显示'}</td>
        <td class="f-14 picture-manage">
         <a style="text-decoration:none" href="{:U('Admin/Planner/edit')}?id={$vo['id']}">修改</a></td>
      </tr>
      </volist>
    </tbody>
  </table>
      
        <div id="pageNav" class="pageNav">{$pages}</div>
</div>

<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/layer/layer.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/js/pagenav.cn.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/plugin/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/js/H-ui.admin.js"></script>
<script type="text/javascript">


      //页面加载时绑定按钮点击事件
      $(function(){
          $("#ref").click(function(){
              refresh();
          });
      });
      //点击按钮调用的方法
      function refresh(){
      window.location.reload();//刷新当前页面.
     }
      //删除事件绑定
      $('.ml-5').click(function(){
        
        var res = confirm('是否删除当前信息！');
        if(res){
            return true;
        }else{
            return false;
        }
    })
   
 </script>
</body>
</html>